html {
  background-color: #EDEEF0;
}

.appWrapper {
  display: grid;
  grid-template-areas:
    "h h"
    "n mc";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 3fr 10fr;
  grid-gap: 15px;
  max-width: 1240px;
  margin: 0 auto;
}


.nav {
  padding: 15px;
  grid-area: n;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 1px 0 0 #dce1e6, 0 0 0 1px #e7e8ec;
  ;
}

.MainContent {
  padding: 15px;
  grid-area: mc;
  background-color: white;
  border-radius: 12px;
}