.appWrapper {
  display: grid;
  grid-template-areas:
    "n h"
    "n mc";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 3fr 10fr;
  grid-gap: 15px;
  max-width: 1240px;
  margin: 0 auto;
}


.nav {
  padding: 15px;
  grid-area: n;
  background-color: white;
}

.MainContent {
  padding: 15px;
  grid-area: mc;
  background-color: white;
  border-radius: 12px;
}